.marker-cluster-small {
	background-color: #d9ebff;
	}
.marker-cluster-small div {
	background-color: #8ec8ff;
	}

.marker-cluster-medium {
	background-color: #58a8ff;
	}
.marker-cluster-medium div {
	background-color: #1b64f5;
	}

.marker-cluster-large {
	background-color: #1740b6;
	}
.marker-cluster-large div {
	background-color: #142557;
	}

	/* IE 6-8 fallback colors */
.leaflet-oldie .marker-cluster-small {
	background-color: #d9ebff;
	}
.leaflet-oldie .marker-cluster-small div {
	background-color: #8ec8ff;
	}

.leaflet-oldie .marker-cluster-medium {
	background-color: #58a8ff;
	}
.leaflet-oldie .marker-cluster-medium div {
	background-color: #1b64f5;
	}

.leaflet-oldie .marker-cluster-large {
	background-color: #1b64f5;
	}
.leaflet-oldie .marker-cluster-large div {
	background-color: #1740b6;
}

.marker-cluster {
	background-clip: padding-box;
	border-radius: 20px;
	}
.marker-cluster div {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;

	text-align: center;
	border-radius: 15px;
	font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
	}
.marker-cluster span {
	line-height: 30px;
	}